.b2b {
  &-hero {
    padding: 50px 0;

    @media (max-width: 767px) {
      padding-top: 0;
    }

    .container {
      max-width: 1140px;
    }

    .flex {
      gap: 30px;

      & > div {
        &:first-child {
          padding-top: 50px;
        }
      }

      @media (max-width: 767px) {
        flex-direction: column;
        align-items: center !important;

        img {
          max-width: 450px;
        }
      }

      @media (max-width: 480px) {
        img {
          max-width: 100%;
        }
      }
    }
  }

  &-challenge {
    padding-bottom: 200px;

    .home-tool-triangle-1,
    .home-tool-triangle-2 {
      border-width: 200px 0 0 50vw;
    }

    @media (max-width: 979px) {
      .home-tool-row {
        padding-bottom: 40px;
      }
    }

    @media (max-width: 767px) {
      img {
        max-width: 450px;
      }

      .home-tool-triangle-1,
      .home-tool-triangle-2 {
        border-width: 120px 0 0 50vw;
      }
    }

    @media (max-width: 480px) {
      img {
        max-width: 100%;
      }
    }
  }

  &-target {
    padding: 50px 0;

    .flex {
      & > div {
        &:last-child {
          padding-top: 50px;
        }
      }

      @media (max-width: 767px) {
        flex-direction: column;
      }

      @media (max-width: 767px) {
        img {
          max-width: 450px;
        }
      }
  
      @media (max-width: 480px) {
        img {
          max-width: 100%;
        }
      }
    }
  }
}