.home {
    &-hero {
      min-height: 500px;
      padding: 100px 0;
      overflow: hidden;
      // background-image: url('/assets/mirror-im-app-mobile-mockup.png');
      // background-size: auto 100%;
      // background-repeat: no-repeat;
      // background-position: right bottom;
  
      img {
        bottom: 0;
        right: 0;
        height: 100%;
        width: auto;
        max-width: max-content;
      }
  
      @media (max-width: 979px) {
        // background-size: auto 65%;
  
        img {
          height: 65%;
        }
      }
      
      @media (max-width: 767px) {
        // background-position: center bottom;
  
        img {
          right: -30%;
        }
      }
  
      h1 {
        font-size: 44px;
        line-height: 1.25;
        font-weight: 500;
      }
    }
  
    &-tool {
      
      @media (max-width: 979px) {
        
      }
  
      .container {
        background-image: linear-gradient(to bottom left, black, blue, black);
        margin: -5% 5% 0 5%;

      }
  
      &-row {
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
  
        @media (max-width: 979px) {
          display: flex;
          flex-direction: column-reverse;
          gap: 30px;
          
        }
      }
  
      &-dashboard {
        width: 40vw;
        max-width: 530px;
  
        @media (max-width: 979px) {
          width: 550px;
          margin: auto;
          display: block;
          max-width: 100%;
        }
      }
  
      .max-w-lg {
        @media (max-width: 979px) {
          max-width: 100%;
        }
      }
  
      
    }

    &-bullseye {
      
      background-color: @white;
      margin: 5%;
      border-radius: 10px;
      padding: 20px;

      &-card {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 10vw;
    
      }

      &-right {
        display: flex;
        flex-direction: column;
        max-width: 45vw;
        gap: 20px;
      }

      &-goals {
        margin-bottom: -20px;
        width: 250px;
      }

      &-image {
        width: 15vw;

        @media (max-width: 700px) {
          width: 50vw;
        }
      }
    }
  
    &-challenge {
      padding: 20px 0 100px 0;
      
      @media (max-width: 979px) {
        padding: 60px 10px 0 10px;
      }
      
  
      &-cards {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 28px;
        margin-top: 80px;

        &-white {
          background-color: @white;
        }

        &-gradient {
          background-image: linear-gradient(to bottom, black, blue);
        }
  
        @media (max-width: 1200px) {
          gap: 20px;
        }
  
        @media (max-width: 979px) {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
  
        @media (max-width: 767px) {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
  
        & > div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 24px;
          border-radius: 8px;
          padding: 30px;
          height: 420px;
  
          @media (max-width: 767px) {
            height: 320px;
          }
  
          p {
            font-size: 14px;
          }
  
          h3 {
            font-size: 16px;
            font-weight: 600;
          }
  
          &:nth-child(even) {
            margin-top: 0px;
  
            @media (max-width: 979px) {
              margin-top: 30px;
            }
  
            @media (max-width: 767px) {
              margin-top: 0;
            }
          }
        }
      }
  
      
    }

    &-markets {
      padding: 20px 0 100px 0;

      @media (max-width: 979px) {
        padding: 60px 10px 0 10px;
      }

      &-cards {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 28px;
        margin-top: 80px;

        &-white {
          background-color: @white;
        }

        &-gradient {
          background-image: linear-gradient(to bottom, black, blue);
        }
  
        @media (max-width: 1200px) {
          gap: 20px;
        }
  
        @media (max-width: 979px) {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
  
        @media (max-width: 767px) {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
  
        & > div {
          display: flex;
          flex-direction: column;
          justify-content: start;
          border-radius: 8px;
          padding: 30px;
          height: 400px;

          @media (max-width: 767px) {
            height: 360px;
          }
  
          img {
            padding: 14px 0 14px 0;
          }
  
          p {
            font-size: 12px;
          }
  
          h2 {
            font-weight: 500;
          }

          h3 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: -10px;
          }
  
          &:nth-child(even) {
            margin-top: 0px;
  
            @media (max-width: 979px) {
              margin-top: 30px;
            }
  
            @media (max-width: 767px) {
              margin-top: 0;
            }
          }
        }
      }
    }

    &-cta {
      display: flex;
      justify-content: center;
      margin-top: -40px;

      @media (max-width: 767px) {
        padding-top: 60px;
      }
    }
  
    &-solutions {

      padding: 60px 20px 100px 20px;

      h2 {
        font-weight: 500;
        padding: 20px;
        text-align: center;
      }

      p {
        font-size: 14px;
        padding: 0 30px 0 30px;
        text-align: center;
      }
      &-outer {
        width: 100%;
        height: 500px;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        .card {
          border-radius: 8px;
          width: 300px;
          background-color: @black;
          float: none;
          height: 90%;
          margin-right: 20px;
          display: inline-block;
          zoom: 1;
        } 
       }
      
      // Hides the scroll bar
       &-outer::-webkit-scrollbar {
        display: none;
      } 

      &-content {
       display: flex;
       white-space: normal;
       flex-direction: column;
       align-items: center;
       padding: 20px;   

       img {
        padding: 20px;
       }
    }
  }
}   
  