.b2b {
  &-hero {
    padding: 50px 0;

    .container {
      max-width: 1140px;
    }

    .flex {
      gap: 30px;

      & > div {
        &:first-child {
          padding-top: 50px;
        }
      }
    }
  }

  &-challenge {
    padding-bottom: 200px;

    .home-tool-triangle-1,
    .home-tool-triangle-2 {
      border-width: 200px 0 0 50vw;
    }
  }

  &-target {
    padding: 50px 0;

    .flex {
      & > div {
        &:last-child {
          padding-top: 50px;
        }
      }
    }
  }
}